.container {
	width: 45rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 1rem;
	overflow: hidden;
}

.card-upper-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--primaryColor);
	padding: 3.2rem 0;
}

.information {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 23rem;
	text-align: center;
}

.info-img {
	width: 100%;
	border-radius: 50%;
	border: 0.5rem solid var(--lightBlue);
}

.info-title {
	font-family: var(--fontSemiBold);
	margin-top: 1.8rem;
}

.info-caption {
	margin-top: 1.8rem;
}

.social-media-container {
	display: flex;
	gap: 1.6rem;
	margin-top: 2rem;
}

.social-media {
	width: 7rem;
	height: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	background-color: var(--secondaryColor);
	border-radius: 50%;
}

.social-media-icon {
	width: 3.6rem;
}

.card-downer-body {
	background-color: var(--secondaryColor);
	padding: 2rem;
}

.skill-title {
	margin-bottom: 1rem;
}

.skill-pack {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

.skills {
	font-family: var(--fontLight);
	font-size: 1.4rem;
	padding: 0.5rem;
	border: 0.1rem solid var(--whiteColor);
	border-radius: 0.3rem;
}
